name: 自动同步到Gitee
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 推送到Gitee
        run: |
          git remote add gitee https://ox4pi:${{ secrets.GITEE_TOKEN }}@gitee.com/ox4pi/api.git
          git push gitee master --force